:root {
  --indicador-ativo: #e90f0f;
}
.carrossel {
  position: relative;
}

.trilhoCarrossel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.trilhoCarrossel::-webkit-scrollbar {
  display: none;
}

.itemCarrossel {
  display: flex;
  flex: 0 0 100%;
  gap: 20px;
  padding: 20px 0;
  scroll-snap-align: start;
  flex-direction: column;
  align-items: center;
}

.itemCarrossel > img {
  display: block;
  width: 280px;
  max-width: 100%;
  height: auto;
}

.botaoCarrossel {
  display: flex;
  align-self: center;
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%), scale(.9);
  border: 1px solid transparent;
  background-color: transparent;
  font-weight: bold;
  font-size: 2.6rem;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: background .2s ease-in-out,
  box-shadow .2s ease-in-out,
  transform .2s ease-in-out,
  opacity .2s ease-in-out,
  visibility linear .2s;
}

.botaoCarrossel:hover {
  background-color: #e2e0e0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  transform: scale(1);
}

.botaoAnterior {
  left: 8px;
}

.botaoProximo {
  right: 8px;
}

.visible {
  opacity: 1;
  visibility: visible;
}

.indicadoresCarrossel {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.indicadorCarrossel {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #777;
}

.indicadorCarrossel.indicador {
  background-color: var(--indicador-ativo);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
}